video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: fixed;
  z-index: -1;
 }

div {
	font-family: 'Press Start 2P', cursive;
 	position: fixed;
 	background:  #ffffff;
 	hover: 2px;
 }