video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: fixed;
  z-index: -1;
 }

div {
		      font-family: 'Press Start 2P', cursive;
          font-size: 15px;
          background:  #ffffff;
          border-radius: 20px;
          padding: 50px;
          margin: 100px 100px;
          float: left;
	 
}
.grid {
      padding: 30px;
      margin: 50px 60px 50px 0px;
      border-radius: 25px;
      top:  50%;
      left:  50%;
      transform: translate(-50% , -50%);  
      position:  absolute;
  }
  .milan {
    width: 100;
    float:  right;
  }


