video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: fixed;
  z-index: -1;
 }

div {
		  font-family: 'Press Start 2P', cursive;
          font-size: 15px;
          background:  #ffffff;
          border-radius: 20px;
          padding: 75px;
          margin:  50px 50px;
 }

.grid {
	display:  grid;
	place-items: center;
	      padding: 75px;
          margin:  50px 50px;
}


